<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo border"><a href="#">Book Recommender System</a></div>
            <ul >
                <li class="border"><a href='/'>Home</a></li>
                <li class="border"><a href='/'>Home2</a></li>
                <li class="border"><a href="/recommend_books">Recommend</a></li>
                <li class="border"><a href="/contact us">Contact Us</a></li>
                <li class="border"><a href="/aboutus">About</a></li>
                <button class="border"><a href="">LogIn</a></button>
                <button class="border"><a href="#">Logout</a></button>
            </ul>
        </div>
    </nav>
      <div id="img-a">
      <header>
        <h1>About Us</h1>
    </header>
    <section class="about-section">
        <h2>Welcome to our Book Recommender System</h2>
        <p>We are passionate about books and helping you find the perfect reads tailored to your interests. Our book recommender system uses advanced algorithms to analyze your preferences and suggest books that we believe you'll love.</p>
        <p>Whether you're a fiction enthusiast, a non-fiction aficionado, or someone just looking for their next great read, our system is here to assist you.</p>
        <p>Our team of avid readers and technology enthusiasts have worked tirelessly to develop and refine our recommendation engine, ensuring that it provides accurate and personalized suggestions for each user.</p>
        <p>Thank you for choosing our Book Recommender System. Happy reading!</p>
    </section>
    <footer>
        <p>&copy; 2024 Book Recommender System.rajankundal908@gmail.com</p>
    </footer>
 </div>
</body>
</html>
